{% extends "base.html" %}
{% block title %}
{% if department %}
    {{ department }}
{% elif instructor_full_name %}
    Instructor: {{ instructor_full_name }}
{% elif instructor_search %}
    Instructor: "{{ query }}"
{% else %}
    "{{ query }}"
{% endif %}
| Layup List{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        {% if department %}
            <h1> {{ department }}</h1>
        {% elif instructor_full_name %}
            <h1> Courses taught by {{ instructor_full_name }} </h1>
        {% else %}
            <h1> Search Results For "{{ query }}" </h1>
            {% if instructor_search %}
                <p class="text-muted">Professors: 
                {% for instructor in instructor_search %}<a href="?q={{ instructor|urlencode }}" class="link-primary link-offset-1 link-underline-opacity-0 link-underline-opacity-75-hover">{{ instructor }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                </p>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
{% if not query %}
    <h3>Empty query string. Please enter a search query. Example: COSC 001</h3>
{% elif query|length < 3 %}
    <h3>Query must be at least 3 characters long.</h3>
{% elif not courses %}
    <h3>Could not find any results. Please double-check your search query, and make sure the department and course number are correct.</h3>
{% else %}
    <table class="table table-hover">
        <thead>
            <th>Course</th>
            <th>Offered {{ term }}?</th>
            <th>Distribs</th>
            <th>Reviews</th>
            <th>Quality</th>
            <th>Layup</th>
        </thead>
        <tbody>
            {% for course in courses %}
            {% if instructor_full_name %}
                <tr onclick="window.document.location='{% url 'course_review_search' course.id %}?q={{ instructor_full_name|default:query|urlencode }}';" role="button">
                    <td> <a class="link-primary text-primary-emphasis link-offset-1 link-underline-opacity-0 link-underline-opacity-75-hover">{{ course }}</a> </td>
            {% else %}
                <tr onclick="window.document.location='{% url 'course_detail' course.id %}';" role="button">
                    <td> <a class="link-primary text-primary-emphasis link-offset-1 link-underline-opacity-0 link-underline-opacity-75-hover">{{ course }}</a> </td>
            {% endif %}
                <td> {% if course.prefetched_is_offered %} Offered {{term}} {% endif %} </td>
                <td> {{ course.distribs_string }} </td>
                <td> 
                {% if instructor_full_name and course.instructor_specific_review_count is not None %}
                    {{ course.instructor_specific_review_count }}
                {% else %}
                    {{ course.review_set.count }}
                {% endif %}
                </td>
                <td> {{ course.quality_score }} </td>
                <td>
                    {% if request.user.is_authenticated %}
                        {{ course.difficulty_score }}
                    {% else %}
                        <a href="{% url 'signup'%}">Signup to reveal</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
    </div>
</div>

{% endblock %}
