{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{{ reviews_full_count }} <a href="{% url 'course_detail' course.id %}" class="link-primary link-offset-1 link-underline-opacity-0 link-underline-opacity-75-hover">{{ course.short_name }}</a> review results for "<span class="query">{{ query }}</span>"</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="course-review-search" action="{% url 'course_review_search' course.id %}" method="get" role="search" style="margin-top: 10px;">
            <div class="form-group">
                <div class="input-group">
                    <input name="q" type="text" class="form-control" placeholder="Review search..." value="{{ query }}">
                    <button type="submit" class="btn btn-light light-btn-outline">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
{% if not reviews %}
    <h3>Could not find any results. Please double-check your search query.</h3>
{% else %}
    <table class="table table-striped">
        <tbody>
            {% for review in reviews %}
                <tr><td class="highlight-review">
                    {% if review.term %}
                        <b>{{ review.term }}</b>
                        {% if review.professor %}<b> with {{review.professor}}</b>{% endif %}:
                    {% endif %}
                    {{ review.comments }}
                </td></tr>
            {% endfor %}
        </tbody>
    </table>

    {% if not request.user.is_authenticated and remaining > 0 %}
    <div class="col-md-12 text-center">
        <h3>Please <a href="{% url 'signup' %}">signup</a> to see the remaining {{ remaining }} reviews for this search.</h3>
    </div>
    {% endif %}
{% endif %}
    </div>
</div>

{% endblock %}
