{% extends "base.html" %}
{% block title %}Departments | Layup List{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="d-flex flex-column">
            <h1> Departments </h1>
            <p><a href="{% url 'instructors' %}">Browse by Professor</a></p>
        </div>
        <table class="table table-hover">
            <thead>
                <th>Code</th>
                <th>Department Name</th>
                <th>Undergrad Courses</th>
            </thead>
            <tbody>
                {% for code, name, count in departments %}
                <tr onclick="window.document.location='{% url 'course_search' %}?q={{ code }}';" role="button">
                    <td><a class="link-primary text-primary-emphasis link-offset-1 link-underline-opacity-0 link-underline-opacity-75-hover">{{ code }}</a></td>
                    <td>{% if name %}<a class="link-primary text-primary-emphasis link-offset-1 link-underline-opacity-0 link-underline-opacity-75-hover">{{ name }}</a>{% endif %}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
