{% extends "base.html" %}
{% block title %}Professors | Layup List{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="d-flex flex-column">
            <h1> Professors </h1>
            <p><a href="{% url 'departments' %}">Browse by Department</a></p>
        </div>
        <table class="table table-hover">
            <thead>
                <th>Professor Name</th>
                <th>Undergrad Courses Taught</th>
            </thead>
            <tbody>
                {% for instructor_id, name, count in instructors %}
                <tr onclick="window.document.location='{% url 'course_search' %}?q={{ name|urlencode }}';" role="button">
                    <td><a class="link-primary text-primary-emphasis link-offset-1 link-underline-opacity-0 link-underline-opacity-75-hover">{{ name }}</a></td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
