{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        <img class="landing-page-icon" src="{% static "img/logo.svg" %}">
        <h1 class="mt-3">Layup List</h1>
        <h5>Dartmouth Course Reviews, Rankings, and Recommendations</h5>
        <p class="text-muted">
            {{ review_count | intcomma }} reviews and counting<br/>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <form class="landing-search" action="{% url 'course_search' %}" method="get" role="search">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input name="q" type="text" class="search-input form-control" placeholder="Search for Courses or Professors..." aria-describedby="btn-search-landing">
                    <button type="submit" class="btn btn-light light-btn-outline" id="btn-search-landing">Search</button>
                </div>
            </div>
        </form>
        <a href="{% url 'current_term' 'best' %}"><button type="button" class="btn btn-light ">See Best Classes</button></a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'current_term' 'layups' %}"><button type="button" class="btn btn-light">See Layups</button></a>
        {% else %}
            <a href="{% url 'current_term' 'layups' %}"><button type="button" class="btn btn-light">See Layups (requires login)</button></a>
        {% endif %}
        <a href="{% url 'departments' %}"><button type="button" class="btn btn-light">Browse</button></a>
        <br><br>
        <p> Know how to code? <a href="https://github.com/layuplist/layup-list">Try contributing to Layup List!</a> </p>
    </div>
</div>
{% endblock %}
