{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'landing' %}">
        <img class="logo" src="{% static 'img/logo.svg' %}">
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'current_term' 'best' %}">Best Classes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'current_term' 'layups' %}">Layups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recommendations' %}">Recommendations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'departments' %}">Browse</a>
          </li>
          {% if request.user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'analytics_home' %}">Analytics</a>
            </li>
          {% endif %}
        </ul>
  
        <form class="d-flex input-group me-3" action="{% url 'course_search' %}" style="max-width: 300px" method="get" role="search">
          <input name="q" class="form-control" type="search" placeholder="Course Search..." aria-label="Search">
          <button class="btn btn-light light-btn-outline" type="submit">Search</button>

          
        </form>
  
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="10" r="3"/><path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"/></svg>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              {% if request.user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'auth_logout' %}">Logout</a></li>
              {% else %}
                <li><a class="dropdown-item" href="{% url 'auth_login' %}">Login</a></li>
                <li><a class="dropdown-item" href="{% url 'signup' %}">Signup</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
