    <div>
    <h3 class="mb-1">
      <a class=" link-primary link-offset-1 text-primary-emphasis link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'course_detail' course.id %}">
        {{ course }}
      </a>
    </h3>
  
    <p class="text-secondary mb-0">
      <span>{{ course.review_set.count }} reviews</span>
      {% if course.distribs_string %}
        <span class="mx-1 text-secondary">|</span>
        <span>{{ course.distribs_string }}</span>
      {% endif %}
      {% if course.offered_times_string %}
        <span class="mx-1 text-secondary">|</span>
        <span>Offered during {{ course.offered_times_string }}</span>
      {% endif %}
  </p>
</div>